#youtube, #instagram, #tiktok {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 51px;
  border: 1px solid grey;
  background-color: rgb(235,235,235);
  /* background-color: white; */
}

#youtube:hover, #instagram:hover, #tiktok:hover {
  background-color: rgb(210,210,210);
}

#navigation, #navigation2, h1 {
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: .1em;
  line-height: 1em;
}

#navigation:hover, #recipes:hover, #work:hover, #contact:hover {
  font-style: italic;
}

#homeblurb {
  font-family:'Times New Roman', Times, serif;
  font-size: 28px;
  font-style: italic;
  font-weight: bolder;
}

body {
  margin: 22px;
  background-color: rgb(235,235,235);
  font-family: "Helvetica Neue";
  font-weight: lighter;
}

.card {
  /* box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2); */
  transition: transform 0.3s;
  position: relative;
  justify-content: center;
}

.hovercap {
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
  /* font-weight: bolder; */
}

.card:hover {
  /* box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2); */
  transform: scale(1.1, 1.1);
  /* opacity: 0.5; */
}

.card:hover .hovercap {
  visibility: visible;
  opacity: 1;
}

h5 {
  font-family:'Times New Roman', Times, serif;
}