#youtube, #instagram, #tiktok {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 51px;
  border: 1px solid grey;
  background-color: rgb(235,235,235);
}

#youtube:hover, #instagram:hover, #tiktok:hover {
  background-color: rgb(210,210,210);
}

#navigation, #navigation2, h1 {
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: .1em;
  line-height: 1em;
}

#navigation:hover, #social-media:hover, #videos:hover, #photography:hover, #contact:hover {
  font-style: italic;
}

#homeblurb {
  font-family:'Times New Roman', Times, serif;
  font-size: 28px;
  font-style: italic;
  font-weight: bolder;
}

body {
  margin: 22px;
  background-color: rgb(235,235,235);
  font-family: "Helvetica Neue";
  font-weight: lighter;
}

.card {
  transition: transform 0.3s;
  position: relative;
  justify-content: center;
}

.hovercap {
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
  /* font-weight: bolder; */
}

.card:hover {
  transform: scale(1.07, 1.07);
}

.card:hover .hovercap {
  visibility: visible;
  opacity: 1;
}

h5 {
  font-family:'Times New Roman', Times, serif;
}

.twos {
  width: 100%;
  height: 352px;
}

.threes {
  width: 100%;
  height: 235px;
}

.fours {
  width: 100%;
  height: 704px;
}

iframe {
  border-radius: 4px;
  width: 100%;
}

#embed-video-container {
  background-color: rgb(235,235,235);
}

.instagram-threes {
  height: 728px;
}

.instagram-fours {
  height: 590px;
}

.tiktok-threes {
  width: 325px;
  height: 738px;
  border-radius: 8px;
  margin-left: 45px;
  margin-right: 45px;
}

.tiktok-threes-long {
  width: 325px;
  height: 756px;
  border-radius: 8px;
  margin-left: 45px;
  margin-right: 45px;
}

.youtube-tagline {
  font-size: 22px;
}

@media screen and (max-width: 1399px) {
  .twos {
    width: 100%;
    height: 300px;
  }

  .threes {
    width: 100%;
    height: 200px;
  }

  .tiktok-threes, .tiktok-threes-long {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .twos {
    width: 100%;
    height: 250px;
  }

  .threes {
    width: 100%;
    height: 165px;
  }

  .tiktok-threes, .tiktok-threes-long {
    margin-left: -10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 991px) {
  .twos, .threes {
    width: 100%;
    height: 390px;
  }

  .tiktok-threes, .tiktok-threes-long {
    margin-left: 180px;
  }
}

@media screen and (max-width: 767px) {
  .twos, .threes {
    width: 100%;
    height: 235px;
  }

  .tiktok-col {
    display: flex;
    justify-content: center;
  }

  .tiktok-col .tiktok-threes {
    margin-left: 0px;
    margin-right: 0px;
  }

  .tiktok-col .tiktok-threes-long {
    margin-left: 0px;
    margin-right: 0px;
  }
}

